body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgba(0, 30, 0, 1);

    color: white;
}

.container {
    width: 780px;
    border-radius: 20px;
    padding: 35px 40px;
    background: linear-gradient(
        335deg, 
        rgba(2, 0, 36, 0.8) 0%, 
        rgba(0, 100, 0, 0.8) 60%, 
        rgba(0, 180, 0, 0.8) 85%, 
        rgba(0, 255, 0, 0.8) 95%, 
        rgba(255, 255, 255, 0.8) 100%
    );
}

.container header {
    color: yellow;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h2 {
    font-size: 1.6rem;
}

header .column {
    display: flex;
    align-items: center;
}

header .column span {
    font-weight: 500;
    margin-right: 15px;
    font-size: 1.19rem;
}

.volume-slider input {
    accent-color: white;
    cursor: pointer;
}

.keys-check input {
    width: 60px;
    height: 30px;
    appearance: none;
    border-radius: 30px;
    background-color: #4b4b4b;
    cursor: pointer;
    position: relative;
}

.keys-check input::before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: inherit;
    background-color: gray;
    top: 50%;
    left: 0.3rem;
    position: absolute;
    transform: translateY(-50%);
    transition: all 0.3s ease;

}

.keys-check input:checked::before {
    left: 2.1rem;
    background-color: white;
    position: absolute;
}

.main {
    display: flex;
}

.piano-keys {
    display: flex;
    margin-top: 40px;
}

.piano-keys .key {
    cursor: pointer;
    user-select: none;
    list-style: none;
    color: gray;
    position: relative;
    text-transform: uppercase;
}

.piano-keys .white {
    margin-left: 2px;
    width: 62px;
    height: 230px;
    border-radius: 8px;
    background: linear-gradient(#fff 96%, #eee 4%);
}

.piano-keys .white.active {
    box-shadow: inset -5px 5px 20px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom #fff 0%, #eee 100%);
}

.piano-keys .black {
    width: 45px;
    height: 140px;
    z-index: 2;
    margin: 0 -22px 0 -22px;
    border: 1px solid black;
    border-radius: 0 0 5px 5px;
    background: linear-gradient(#111, #000);
}

.piano-keys .black:active {
    box-shadow: inset -5px 5px 10px rgba(255, 255, 255, 0.1);
    background: linear-gradient(to bottom #000, #434343);
}

.piano-keys span {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 1.13rem;
}

.piano-keys .key.hide span {
    display: none;
}

.short-keys {
    margin-top: 30px;
}


.short-keys li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    background: linear-gradient(#fff 96%, #eee 4%);
    cursor: pointer;
    user-select: none;
    list-style: none;
    position: relative;
    margin: 10px;
}

.short-keys span {
    font-size: 2rem;
    text-align: center;

}

@media only screen and (max-width: 800px) {
    .container {
        transform: rotate(90deg);
    }
}

@media only screen and (max-width: 550px) {
    .container {
        width: auto;
        margin: auto;
        transform: rotate(90deg);
    }

    .piano-keys .white {
        width: 50px;
        height: 220px;
    }
    
    .short-keys li {
        width: 47px;
        height: 47px;
    }
}

@media only screen and (max-width: 375px) {
    .container {
        width: auto;
        margin: auto;
        transform: rotate(90deg);
        padding: 15px 25px;
    }

    header h2 {
        font-size: 1rem;
    }
    
    header .column span {
        font-weight: 500;
        font-size: 1rem;
    }

    .piano-keys {
        margin-top: 25px;
    }

    .piano-keys span {
        bottom: 15px;
        font-size: 1rem;
    }

    .piano-keys .white {
        width: 50px;
        height: 180px;
    }

    .piano-keys .black {
        width: 45px;
        height: 120px;
    }

    .short-keys {
        margin-top: 20px;
    }
    
    .short-keys li {
        width: 35px;
        height: 35px;
    }

    .short-keys span {
        font-size: 1.5rem;
    }
}